<div *ngIf="book">
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <table class="rowBorder table table-striped">
        <tr>
          <td>
            <label for="title">Titel</label>
          </td>
          <td>
          <input type="text" formControlName="title"/>
          </td>
        </tr>
        <tr>
          <td>
              <label for="isbn">Isbn</label>
            </td>
            <td>
            <input type="text" formControlName="isbn"/>
          </td>
        </tr>
    </table>
    <button type="submit" [disabled]="!form.valid">Submit</button>

</form>
</div>